:root {
    --background: "black";
    --foreground: "#2C394B";
    --highlight: "#334756";
    --text: "white";
    --buttoninteract: "#202d36";
    --badge-invert-value: "1";
    --accordion-button-after: "url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e\")";
}

body {
    background: var(--background);
    font-family: ArimoNF, sans-serif;
    color: var(--text);
    --bs-body-color: var(--text);
    --bs-primary-text-emphasis: var(--text);
}

@font-face {
    font-family: CousineNF;
    src: url("assets/CousineNerdFont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: ArimoNF;
    src: url("assets/ArimoNerdFont-Regular.ttf") format("truetype");
}

.stackDiv {
    font-size: 0.9rem;
    border-radius: 5px;
    margin: 5px 5px;
}

.stackDivIcon {
    font-size: 1.1rem;
}

.projectLinkText {
    text-decoration: none;
    font-family: inherit;
    display: inline;
    color: var(--text);
}

.carousel-caption {
    background-color: var(--foreground);
    border-radius: 5px;
    padding: 5px;
}

.carousel-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.badgeTitle {
    background-color: var(--highlight);
}

.nav-link:hover {
    filter: invert(0.5)
}

.fontIcon {
    font-size: 1.15rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodySection {
    background-color: var(--foreground);
    margin: 0 0 2vw;
}

.competenciesItem {
    background-color: var(--foreground);
    border-radius: 0;
    border-color: transparent;
}

.monospaceText {
    font-family: "CousineNF", monospace;
    font-size: large;
}

.card {
    border: none;
}

.card-header,
.status-card {
    background-color: var(--highlight);
    border-bottom: none !important;
}

.card-header:first-child {
    border: none;
}

.card-footer {
    background-color: var(--foreground);
}

.navbar {
    background-color: var(--background);
    margin-top: 8px;
}

.navbar,
.navbar-brand,
.navbar-nav,
.nav-link {
    height: 27px;
}

.nav-link {
    justify-items: center;
    align-items: center;
}

.nav-dropdown {
    flex-grow: 0;
}

.svgBadge {
    filter: invert(var(--badge-invert-value));
}

.theme-switcher {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.theme-switcher:active,
.theme-switcher:hover,
.theme-switcher:focus {
    background-color: var(--buttoninteract);
    border-color: var(--buttoninteract);
}

.btn {
    background-color: transparent;
    border-color: var(--text);
}

.btn:active,
.btn:hover,
.btn:focus {
    background-color: var(--buttoninteract);
    border-color: var(--buttoninteract);
}

.accordion,
.accordion:active,
.accordion-header,
.accordion.collapse,
.accordion-body,
.accordion-item {
    border-color: var(--highlight);
}

.accordion-button,
.accordion-button.collapsed,
.accordion-button.expanded,
.accordion-button:not(.collapsed) {
    background-color: var(--highlight);
    background-image: none;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background-image: var(--accordion-button-after);
}

.accordion-body {
    background-color: var(--foreground);
}

.badge {
    background-color: var(--foreground);
}

@media only screen and (max-width: 767px) {
    .navbar-brand,
    .navbarCol {
        padding-right: 0;
        margin-right: 0;
    }

    .stackDivHeading {
        visibility: hidden;
        height: 0;
    }

    .fontIcon {
        margin-right: 10px;
    }

    .fontText {
        display: none;
    }

    .accordion-body {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        margin-top: 0;
        padding: 0;
    }
}
